@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  transition: .3s ease;
}

/* Colores y estilos de la aplicación*/

:root {
  --primary-100:#FFDAB9;
  --primary-200:#dfb28a;
  --primary-300:#8c633c;
  --accent-100:#ffbda3;
  --accent-200:#975f48;
  --text-100:#000000;
  --text-200:#615353;
  --text-300:#fff;
  --bg-100:#F9AFAF;
  --bg-200:#eea5a5;
  --bg-300:#c57f80;

  /*Fuentes y Tamaños*/
  --bigFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: .938rem;
  --smallFontSize: .813rem;
  --smallerFontSize: .75rem;
}

html{
  font-size: 90%;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}
.icon{
  font-size: var(--h2FontSize);
  cursor: pointer;
}

img{
  width: 100%;
  height: auto;
}

.flex{
  display: flex;
  align-items: center;
}

.grid{
  display: grid;
  align-items: center;
  gap: 1.5rem;
}

.btn{
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--bg-200);
  padding: .8rem 1rem;
  color: var(--text-300);
  background: var(--bg-300);
}

.btn .icon{
  margin-left: .5rem;
}

.btn:hover{
  background: var(--bg-200);
  color: var(--text-300);
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 1rem;
  background-color: var(--bg-200);
}

.container{
  position: relative;
  width: 95vw;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-300);
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 2px 2px 8px var(--text-200);
}

/*Esconder el scroll*/

::-webkit-scrollbar{
  display: none;
}